<#macro myLayout title="Layout example">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"><html lang="en">
  <head>

    <!--<script src="/assets/webjars/jquery/1.9.0/jquery.js"></script>-->
    <meta charset="utf-8">
    <title>${title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="A Creative Machine" content="">
    <meta name="Musae Machine Corporation" content="">

    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements --->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--[if lte IE 6]>
      <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-ie6.css">
    <![endif]-->

    <!--[if lte IE 7]>
        <link rel="stylesheet" type="text/css" href="/assets/css/ie.css">
    <![endif]-->



    <script src="//code.jquery.com/jquery-1.11.3.js"></script>
    <script src="//code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="/assets/js/default/respond.src.js"></script>
    <script src="/assets/js/default/respond.min.js"></script>

    <script src="/assets/js/default/IEsupport.js"></script>


    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />

    <link rel="stylesheet" href="/assets/css/default.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


  </head>

  <body>

    <div class="container-fluid">
        
        <#include "header.ftl.html"/>
        
        <#if (flash.error)??>
            <div class="alert alert-danger">
                ${flash.error}
            </div>
        </#if>
        
        <#if (flash.success)??>
            <div class="alert alert-success">
                ${flash.success}
            </div>
        </#if>

        <#nested/>

        <#include "footer.ftl.html"/>
        
    </div> <!-- /container -->

  </body>
</html>
</#macro>
