<#macro myLayout title="Layout example">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"><html lang="en">
  <head>

    <meta charset="utf-8">
    <title>${title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="A Creative Machine" content="">
    <meta name="Musae Machine Corporation" content="">


    <link rel="stylesheet" type="text/css" href="/assets/jquery-ui-1.11.4/jquery-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/jquery-ui-1.11.4/jquery-ui.theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/jquery-ui-1.11.4/jquery-ui.structure.min.css"/>
    <script src="/assets/js/jquery/jquery-1.11.3.min.js"></script>
    <script src="/assets/jquery-ui-1.11.4/jquery-ui.min.js"></script>


    <link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap-responsive.min.css"/>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/assets/css/default.css" />
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">-->

  </head>

  <body>

    <div class="container-fluid">
        
        <#include "header.ftl.html"/>
        
        <#if (flash.error)??>
            <div class="alert alert-danger">
                ${flash.error}
            </div>
        </#if>
        
        <#if (flash.success)??>
            <div class="alert alert-success">
                ${flash.success}
            </div>
        </#if>

        <#nested/>

        <#include "footer.ftl.html"/>
        
    </div> <!-- /container -->

  </body>
</html>
</#macro>
