<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">
    <div class="container-fluid fixed-position">
                <div class="row-fluid audio-clip-nav">
                    <div class="span12 pad-right">
                        <div class="span4">
                            <input type="text" name="audio" id="autocomplete" x-webkit-speech />
                        </div>
                        <ul id="audio-clip-container" class="span8 scrollable" >
                        </ul>
                    </div>
                </div>
                <div class="row-fluid" id="trackBed">
                    <div class="span12 pad-right">
                    <div class="span2" >
                        <div id="zoom">
                            <div class="btn-default">
                                <button type="button" class="btn btn-mini" id = "zoomOut">
                                    <i class="fa fa-minus" alt="minus"></i>
                                </button>
                                <button type="button" class="btn btn-mini" id = "zoomIn">
                                    <i class="fa fa-plus" alt="plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="span9">
                        <canvas id="timeline">
                        </canvas>
                    </div>
                    <div class="span1">
                        <div id="clock" class="clock"></div>
                    </div>
                    </div>
                </div>
    </div>
    <div class="container-fluid" id="holder">
        <div class="row-fluid">
            <div id="tracks" class="span12">
            </div>
        </div>
    </div>


    <script src="//code.jquery.com/jquery-1.11.3.js"></script>
    <script src="//code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <!--<script src="jquery.ui.touch-punch.min.js"></script>-->


    <script src="/assets/src_js/storage.js"></script>
    <script src="/assets/js/daw/heartbeat.js"></script>
    <script src="/assets/js/daw/main.js"></script>

    <!--<script src="/assets/src_js/storage.js"></script>
    <script src="/assets/src_js/main.js"></script>-->


    <!--<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>-->

    <!--<script src="/assets/src_js/wavesurfer.js"></script>
    <script src="/assets/src_js/webaudio.js"></script>
    <script src="/assets/src_js/drawer.js"></script>
    <script src="/assets/src_js/scheduler.js"></script>
    <script src="/assets/src_js/storage.js"></script>
    <script src="/assets/src_js/jquery.knob.js"></script>
    <script src="/assets/src_js/recorder.js"></script>
    <script src="/assets/src_js/effects.js"></script>
    <script src="/assets/src_js/main.js"></script>
    <script src="/assets/src_js/vumeter.js"></script>-->
</@layout.myLayout>